* {
    scrollbar-width: auto;
    scrollbar-color: #ffffff #030202;
}


/* Chrome, Edge, and Safari */

*::-webkit-scrollbar {
    width: 10px;
}

*::-webkit-scrollbar-track {
    background: #030202;
}

*::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
    border: 3px solid #030202;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.header-2-3 .modal-backdrop.show {
    background-color: #707092;
    opacity: 0.6;
}

.header-2-3 .modal-item.modal {
    top: 2rem;
}

.header-2-3 .navbar,
.header-2-3 .hero {
    padding: 3rem 2rem;
}

.header-2-3 .navbar-dark .navbar-nav .nav-link {
    font: 300 18px/1.5rem Poppins, sans-serif;
    color: #707092;
    transition: 0.3s;
}

.header-2-3 .navbar-dark .navbar-nav .nav-link:hover {
    font: 600 18px/1.5rem Poppins, sans-serif;
    color: #E7E7E8;
    transition: 0.3s;
}

.header-2-3 .navbar-dark .navbar-nav .active>.nav-link,
.header-2-3 .navbar-dark .navbar-nav .nav-link.active,
.header-2-3 .navbar-dark .navbar-nav .nav-link.show,
.header-2-3 .navbar-dark .navbar-nav .show>.nav-link {
    font-weight: 600;
    transition: 0.3s;
}

.header-2-3 .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.header-2-3 .btn:focus,
.header-2-3 .btn:active {
    outline: none !important;
}

.header-2-3 .btn-fill {
    font: 600 18px / normal Poppins, sans-serif;
    background-color: #524EEE;
    border-radius: 12px;
    padding: 12px 32px;
    transition: 0.3s;
}

.header-2-3 .btn-fill:hover {
    --tw-shadow: inset 0 0px 25px 0 rgba(20, 20, 50, 0.7);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition: 0.3s;
}

.header-2-3 .btn-no-fill {
    font: 300 18px/1.75rem Poppins, sans-serif;
    color: #E7E7E8;
    padding: 12px 32px;
    transition: 0.3s;
}

.header-2-3 .btn-no-fill:hover {
    color: #E7E7E8;
}

.header-2-3 .modal-item .modal-dialog .modal-content {
    border-radius: 8px;
    transition: 0.3s;
}

.header-2-3 .responsive li a {
    padding: 1rem;
    transition: 0.3s;
}

.header-2-3 .left-column {
    margin-bottom: 2.75rem;
    width: 100%;
}

.header-2-3 .text-caption {
    font: 600 0.875rem/1.625 Poppins, sans-serif;
    margin-bottom: 2rem;
    color: #FB6262;
}

.header-2-3 .title-text-big {
    font: 600 2.25rem/2.5rem Poppins, sans-serif;
    margin-bottom: 2rem;
    color: #CBCBD2;
}

.header-2-3 .btn-try {
    font: 600 1rem/1.5rem Poppins, sans-serif;
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    background-color: #524EEE;
    transition: 0.3s;
}

.header-2-3 .btn-try:hover {
    --tw-shadow: inset 0 0px 25px 0 rgba(20, 20, 50, 0.7);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    transition: 0.3s;
}

.header-2-3 .btn-outline {
    font: 400 1rem/1.5rem Poppins, sans-serif;
    border: 1px solid #707092;
    color: #707092;
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    background-color: transparent;
    transition: 0.3s;
}

.header-2-3 .btn-outline:hover {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    transition: 0.3s;
}

.header-2-3 .btn-outline:hover div path {
    fill: #FFFFFF;
    transition: 0.3s;
}

.header-2-3 .right-column {
    width: 100%;
}

@media (min-width: 576px) {
    .header-2-3 .modal-item .modal-dialog {
        max-width: 95%;
        border-radius: 12px;
    }
    .header-2-3 .navbar {
        padding: 3rem 2rem;
    }
    .header-2-3 .hero {
        padding: 3rem 2rem 5rem;
    }
    .header-2-3 .title-text-big {
        font-size: 3rem;
        line-height: 1.2;
    }
}

@media (min-width: 768px) {
    .header-2-3 .navbar {
        padding: 3rem 4rem;
    }
    .header-2-3 .hero {
        padding: 3rem 4rem 5rem;
    }
    .header-2-3 .left-column {
        margin-bottom: 3rem;
    }
}

@media (min-width: 992px) {
    .header-2-3 .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 1.25rem;
        padding-left: 1.25rem;
    }
    .header-2-3 .navbar {
        padding: 3rem 6rem;
    }
    .header-2-3 .hero {
        padding: 3rem 6rem 5rem;
    }
    .header-2-3 .left-column {
        width: 50%;
        margin-bottom: 0;
    }
    .header-2-3 .title-text-big {
        font-size: 3.75rem;
        line-height: 1.2;
    }
    .header-2-3 .right-column {
        width: 50%;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.content-2-3 .btn:focus,
.content-2-3 .btn:active {
    outline: none !important;
}

.content-2-3 .title-text {
    padding-top: 5rem;
    margin-bottom: 3rem;
}

.content-2-3 .text-title {
    font: 600 2.25rem/2.5rem Poppins, sans-serif;
    margin-bottom: 0.625rem;
}

.content-2-3 .text-caption {
    color: #707092;
    font-weight: 300;
}

.content-2-3 .column {
    padding: 2rem 2.25rem;
}

.content-2-3 .icon {
    margin-bottom: 1.5rem;
}

.content-2-3 .icon-title {
    font: 500 1.5rem/2rem Poppins, sans-serif;
    margin-bottom: 0.625rem;
}

.content-2-3 .icon-caption {
    font: 400 1rem/1.625 Poppins, sans-serif;
    letter-spacing: 0.025em;
    color: #707092;
}

.content-2-3 .card {
    padding: 1.75rem;
    background-color: #292952;
    border-radius: 0.75rem;
    border: 1px solid #4c4c6d;
}

.content-2-3 .card-block {
    padding: 1rem 1rem 5rem;
}

.content-2-3 .card-title {
    font: 600 1.5rem/2rem Poppins, sans-serif;
    margin-bottom: 0.625rem;
}

.content-2-3 .card-caption {
    font: 300 1rem/1.5rem Poppins, sans-serif;
    color: #707092;
    letter-spacing: 0.025em;
    margin-bottom: 0;
}

.content-2-3 .btn-card {
    font: 700 1rem/1.5rem Poppins, sans-serif;
    background-color: #524eee;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    border-radius: 0.75rem;
    margin-bottom: 1.25rem;
    border: none;
}

.content-2-3 .btn-card:hover {
    --tw-shadow: inset 0 0px 25px 0 rgba(20, 20, 50, 0.7);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.content-2-3 .btn-outline {
    font: 400 1rem/1.5rem Poppins, sans-serif;
    color: #57578e;
    border: 1px solid #57578e;
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 100%;
    border-radius: 0.75rem;
}

.content-2-3 .btn-outline:hover {
    border: 1px solid #ffffff;
    color: #ffffff;
}

.content-2-3 .card-text {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.content-2-3 .grid-padding {
    padding: 0rem 1rem 3rem;
}

@media (min-width: 576px) {
    .content-2-3 .grid-padding {
        padding: 0rem 2rem 3rem;
    }
    .content-2-3 .card-block {
        padding: 3rem 2rem 5rem;
    }
}

@media (min-width: 768px) {
    .content-2-3 .grid-padding {
        padding: 0rem 4rem 3rem;
    }
    .content-2-3 .card-block {
        padding: 3rem 4rem 5rem;
    }
}

@media (min-width: 992px) {
    .content-2-3 .grid-padding {
        padding: 1rem 6rem 3rem;
    }
    .content-2-3 .card-block {
        padding: 3rem 6rem 5rem;
    }
    .content-2-3 .column {
        padding: 0rem 2.25rem;
    }
}

@media (min-width: 1200px) {
    .content-2-3 .grid-padding {
        padding: 1rem 10rem 3rem;
    }
    .content-2-3 .card-block {
        padding: 3rem 6rem 5rem;
    }
    .content-2-3 .card-btn-space {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .content-2-3 .btn-outline,
    .content-2-3 .btn-card {
        width: 95%;
        float: right;
    }
}

@media (max-width: 980px) {
    .content-2-3 .card-btn-space {
        width: 100%;
    }
}

@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&family=Merriweather:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap");
* {
    font-family: 'Poppins', 'Inter', sans-serif !important;
}

body .left-circle img {
    z-index: 0;
    margin-top: -250px;
    position: absolute;
}

body .client {
    background-color: #141432;
    padding: 50px 30px;
}

@media only screen and (min-width: 768px) {
    body .client {
        padding-top: 140px;
        padding-bottom: 100px;
    }
}

body .client h1 {
    font-weight: 700;
    font-size: 30px;
    color: #EEEEEE;
    z-index: 1;
}

@media only screen and (min-width: 768px) {
    body .client h1 {
        font-size: 48px !important;
    }
}

body .client .merriweather {
    font-family: 'Times New Roman', Times, serif !important;
    font-weight: 700;
    font-size: 20px;
    color: white;
    width: 100% !important;
    z-index: 1;
}

body .client .review {
    color: #EEEEEE;
    line-height: 150%;
    font-weight: 400;
    font-size: 20px;
    text-align: justify;
    z-index: 1;
}

body .client h5 {
    font-weight: 600;
    font-size: 28px;
    color: #EEEEEE;
    z-index: 1;
}

body .client .company {
    font-weight: 400;
    font-size: 20px;
    color: #ffffff;
    z-index: 1;
}

body .client .client-img img {
    width: 108px;
    height: 60px;
    z-index: 1;
}

@media only screen and (min-width: 768px) {
    body .client .review-section {
        padding-top: 116px;
    }
}

body .cl-light {
    color: #EEEEEE;
}

body .cl-light-grey-2 {
    color: #90BCB7;
}

body .font-lora {
    font-family: 'Lora', sans-serif !important;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");
* {
    font-family: 'Inter', sans-serif !important;
}

@media screen and (min-width: 768px) {
    body .pl-house {
        margin: 0 !important;
        padding-left: 100px;
    }
}

@media screen and (max-width: 768px) {
    body .pl-house {
        margin: 0 10px 0 5px !important;
    }
}

body .explore {
    background: rgb(37, 37, 156);
    background: linear-gradient(90deg, rgba(37, 37, 156, 1) 0%, rgba(34, 34, 140, 1) 39%, rgba(20, 20, 50, 1) 100%);
    padding-top: 100px;
    padding-bottom: 50px;
}

@media screen and (max-width: 768px) {
    body .explore {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

body .explore .descript-explore {
    max-width: 75%;
}

body .scrolling-wrapper {
    overflow-x: auto;
}

body .section::-webkit-scrollbar {
    height: 0 !important;
}

body .section::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

body .section::-webkit-scrollbar-thumb {
    background-color: #05BB2D;
    border-radius: 100px;
}

body .cl-blue {
    color: #0F52BA !important;
}

body .btn-blue {
    background-color: #0F52BA;
    color: white;
    font-weight: 600;
    font-size: 16px;
    border-radius: 12px;
    margin-top: 48px;
}

body .text-content h1 {
    font-size: 60px !important;
    line-height: 150%;
    color: white;
}

body .text-content p {
    font-size: 16px;
    color: #ADB2B8;
    font-weight: 400;
    line-height: 28px;
    padding-bottom: 108px;
}

body .title h1 {
    font-size: 72px;
    font-weight: 700;
    line-height: 150%;
}

@media screen and (max-width: 768px) {
    body .title h1 {
        font-size: 48px;
    }
}

body .section::-webkit-scrollbar {
    height: 0 !important;
}

body .section::-webkit-scrollbar-track {
    background-color: #e4e4e4;
    border-radius: 100px;
}

body .section::-webkit-scrollbar-thumb {
    background-color: #05BB2D;
    border-radius: 100px;
}

body .img-explore {
    height: 600px;
    padding: 0;
}

@media only screen and (max-width: 768px) {
    body .img-explore {
        height: 300px;
    }
}

body .img-explore img {
    width: 452px !important;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    border-radius: 24px;
    margin-right: 72px;
}

@media only screen and (max-width: 768px) {
    body .img-explore img {
        width: 226px !important;
    }
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.footer-2-3 .list-space {
    margin-bottom: 1.25rem;
}

.footer-2-3 .footer-text-title {
    font: 600 1.5rem Poppins, sans-serif;
    margin-bottom: 1.5rem;
}

.footer-2-3 .list-menu {
    color: #707092;
    text-decoration: none !important;
}

.footer-2-3 .list-menu:hover {
    color: #ffffff;
}

.footer-2-3 hr.hr {
    margin: 0;
    border: 0;
    border-top: 1px solid rgba(46, 46, 90, 1);
}

.footer-2-3 .border-color {
    color: #707092;
}

.footer-2-3 .footer-link {
    color: #707092;
}

.footer-2-3 .footer-link:hover {
    color: #ffffff;
}

.footer-2-3 .social-media-c:hover circle,
.footer-2-3 .social-media-p:hover path {
    fill: #ffffff;
}

.footer-2-3 .footer-info-space {
    padding-top: 3rem;
}

.footer-2-3 .list-footer {
    padding: 5rem 1rem 3rem 1rem;
}

.footer-2-3 .info-footer {
    padding: 0 1rem 3rem;
}

@media (min-width: 576px) {
    .footer-2-3 .list-footer {
        padding: 5rem 2rem 3rem 2rem;
    }
    .footer-2-3 .info-footer {
        padding: 0 2rem 3rem;
    }
}

@media (min-width: 768px) {
    .footer-2-3 .list-footer {
        padding: 5rem 4rem 6rem 4rem;
    }
    .footer-2-3 .info-footer {
        padding: 0 4rem 3rem;
    }
}

@media (min-width: 992px) {
    .footer-2-3 .list-footer {
        padding: 5rem 6rem 6rem 6rem;
    }
    .footer-2-3 .info-footer {
        padding: 0 6rem 3rem;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.content-3-6 .btn:focus,
.content-3-6 .btn:active {
    outline: none !important;
}

.content-3-6 .width-left {
    width: 0%;
}

.content-3-6 .width-right {
    width: 100%;
    height: 100%;
    padding: 8rem 2rem;
    background-color: #211F2D;
}

.content-3-6 .centered {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.content-3-6 .right {
    width: 100%;
}

.content-3-6 .title-text {
    font: 600 1.875rem/2.25rem Poppins, sans-serif;
    margin-bottom: 0.75rem;
    color: #D8D7DF;
}

.content-3-6 .caption-text {
    font: 400 0.875rem/1.75rem Poppins, sans-serif;
    color: #737182;
}

.content-3-6 .input-label {
    font: 500 1.125rem/1.75rem Poppins, sans-serif;
    color: #D8D7DF;
}

.content-3-6 .div-input {
    font: 300 1rem/1.5rem Poppins, sans-serif;
    padding: 1rem 1.25rem;
    margin-top: 0.75rem;
    border-radius: 0.75rem;
    border: 1px solid #292738;
    background-color: #252332;
    color: #D8D7DF;
    transition: 0.3s;
}

.content-3-6 .div-input:focus-within {
    border: 1px solid #ffff;
    color: #D8D7DF;
    transition: 0.3s;
}

.content-3-6 .div-input input::placeholder {
    color: #4E4B62;
    transition: 0.3s;
}

.content-3-6 .div-input:focus-within input::placeholder {
    color: #D8D7DF;
    outline: none;
    transition: 0.3s;
}

.content-3-6 .div-input .icon-toggle-empty-3-6 path,
.content-3-6 .div-input:focus-within .icon path {
    transition: 0.3;
    fill: #ffffff;
    transition: 0.3s;
}

.content-3-6 .input-field {
    font: 300 1rem/1.5rem Poppins, sans-serif;
    width: 100%;
    background-color: #252332;
    border: none;
    color: #D8D7DF;
    transition: 0.3s;
}

.content-3-6 .input-field:focus {
    outline: none;
    transition: 0.3s;
}

.content-3-6 .forgot-password {
    font: 400 0.875rem/1.25rem Poppins, sans-serif;
    color: #737182;
    transition: 0.3s;
    text-decoration: none;
}

.content-3-6 .forgot-password:hover {
    color: #D8D7DF;
}

.content-3-6 .btn-fill {
    font: 500 1.25rem/1.75rem Poppins, sans-serif;
    background: #524EEE;
    padding: 0.75rem 1rem;
    margin-top: 2.25rem;
    border-radius: 0.75rem;
    transition: 0.5s;
}

.content-3-6 .btn-fill:hover {
    background: #3f39fc;
    transition: 0.5s;
}

.content-3-6 .bottom-caption {
    font: 400 0.875rem/1.25rem Poppins, sans-serif;
    margin-top: 2rem;
    color: #737182;
}

.content-3-6 .green-bottom-caption {
    color: #ffffff;
    font-weight: 500;
}

.content-3-6 .green-bottom-caption:hover {
    color: #ffffff;
    cursor: pointer;
    text-decoration: underline;
}

@media (min-width: 576px) {
    .content-3-6 .width-right {
        padding: 8rem 4rem;
    }
    .content-3-6 .right {
        width: 58.333333%;
    }
}

@media (min-width: 768px) {
    .content-3-6 .right {
        width: 66.666667%;
    }
}

@media (min-width: 992px) {
    .content-3-6 .width-left {
        width: 48%;
    }
    .content-3-6 .width-right {
        width: 52%;
    }
    .content-3-6 .right {
        width: 75%;
    }
}

@media (min-width: 1200px) {
    .content-3-6 .right {
        width: 58.333333%;
        ;
    }
}